body {
  text-align: center;
  padding-top: 50px;
}

input {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 250px;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  margin-bottom: 20px;
  border-radius: 5px;
}

button {
  width: 100px;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background: lightgray;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 25px;
  text-align: left;
}

th, td {
  height: 50px;
  padding-left: 5px;
  width: 125px;
}

tr:nth-child(odd) {
  background-color: #d3d3d3;
}

table, th, td {
  border: 1px solid black;
}

.csv-download-btn {
  margin-top: 15px;
  width: 200px;
}