<!DOCTYPE html>
<html>
  <head>
    <title>JSON to CSV</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>JSON to CSV</h1>
    <form action="/createCSV" method="POST">
      <label id="filename" for="filename">
        <input type="text" name="filename" placeholder="File name...">
      </label>
      <label id="jsonDataLabel" for="data">
        <textarea rows="15" cols="100" id="data" name="data" placeholder="Add JSON here..."></textarea>
        <br>
        <button type="submit">Submit</button>
      </label>
    </form>

    <% if(data) { %>
      <button id="<%=data.filename%>" class="csv-download-btn">Download CSV</button>
      <table>
        <tr>
          <% for(let i = 0; i < data.contents[0].length; i++) {%>
            <th><%= data.contents[0][i] %></th>
          <% } %>
        </tr>

        <% for(let i = 1; i < data.contents.length; i++) { %>
          <tr>
            <% for(let j = 0; j < data.contents[i].length; j++) { %>
              <td><%= data.contents[i][j] %></td>
            <% } %>
          </tr>
        <% } %>
      </table>
    <% } %>

   <script type="module" src="./app.js"></script>
  </body>
</html>